.mt20 {
    margin-top: 20px;
}
.pb30 {
    padding-bottom: 30px;
}
.pointer {
    cursor: pointer;
}
.list-group.mt20 {
    max-height: 240px;
    overflow: scroll;
}
.by {
    text-align: right;
    margin-top: 10px;
    font-size: 12px;
}
